@model SistemaWebEmpleado.Models.Empleado

@{
    ViewData["Title"] = "Eliminar Empleado";
}

@section SideBar{
    <h2>Administración de empleados</h2>

}

    <h2>Empleado: @Model.Nombre @Model.Apellido Legajo: @Model.Legajo</h2>
    <p>¿Desea eliminar este empleado?</p>

    @using (Html.BeginForm("Eliminar", "Empleado", FormMethod.Post))
    {
        <div>
            <span>@Html.DisplayNameFor(model => model.Nombre)</span>
            <span>@Html.DisplayFor(model => model.Nombre)</span>
        </div>

        <div>
            <span>@Html.DisplayNameFor(model => model.Apellido)</span>
            <span>@Html.DisplayFor(model => model.Apellido)</span>
        </div>

        <div>
            <span>@Html.DisplayNameFor(model => model.DNI)</span>
            <span>@Html.DisplayFor(model => model.DNI)</span>
        </div>

        <div>
            <span>@Html.DisplayNameFor(model => model.Legajo)</span>
            <span>@Html.DisplayFor(model => model.Legajo)</span>
        </div>

        <div>
            <span>@Html.DisplayNameFor(model => model.FechaNacimiento)</span>
            <span>@Html.DisplayFor(model => model.FechaNacimiento)</span>
        </div>

        <div>
            <span>@Html.DisplayNameFor(model => model.Titulo)</span>
            <span>@Html.DisplayFor(model => model.Titulo)</span>
        </div>

                <input type="submit" action="Eliminar" />

        @Html.ActionLink("Volver", "Index", "Empleado")

    }

